/************ GLOBAL************/

* {
    font-family: 'Poppins', sans-serif;
}

h2 {
    display: block;
    font-size: 22px !important;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-size: 18px;
}

h2 a, h3 a {
    color: black;
}

h4 a {
    color: white;
}

h4 a:hover {
    color: white;
    text-decoration: underline !important;
}

h2 a:hover, h3 a:hover {
    color: #09f;
}

a {
    text-decoration: none !important;
}

.footer {
    background-color: #222 !important;
    color: white;
}

.banner-cookie p {
    /*margin: 0 !important;*/
    margin-top: 10px;
}

.banner-cookie button {
    background-color: #f1d600;
    color: #000;
    border-radius: 5px;
    padding: 8px 15px;
    outline: none;
    margin-left: 5%;
    font-size: 15px;
    font-weight: 500;
}

.banner-cookie {
    display: flex;
    justify-content: center;
    background-color: #222;
    color: white;
    padding: 20px;
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
    text-align: center;
}

/************ SIGUIENDO/SEGUIDORES ************/

.caption {
    text-align: center;
    height: 140px;
}

.link-follow a {
    color: #333;
}

.link-follow a:hover {
    color: #09f;
}

.img-follow {
    width: 80px;
    height: auto;
}

/************ TOP TEN LIST ************/

.main-list {
    width: 555px;
}

.top-ten-list {
    width: 400px;
    height: auto;
    margin-left: 100px;
}

.image-top-container {
    width: 400px;
    height: 160px;
}

.item-top img {
    width: 400px;
    height: auto;
}

.container > .container {
    display: flex;
}

.item-top {
    overflow: hidden;
    width: auto;
    height: 210px;
}

.image-top {
    border-radius: 5px 5px 5px 5px;
}

/************ BOTON ARRIBA ************/

#btn-arriba {
    border: 1px solid #ddd;
    color: #999;
    border-radius: 2px;
    bottom: 40px;
    background-color: #FFF;
    height: 40px;
    position: fixed;
    right: 40px;
    text-align: center;
    width: 60px;
    transition: all 0.2s;
    line-height: 40px;
}

#btn-arriba:hover {
    background-color: #999;
    color: #FFF;
}

/************ EFECTO AVATAR PROFILE/SHOW ************/

.hovereffect {
  width: 235px;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  /*position: relative;*/
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 100px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

/************ GENERADOR ************/

.meme-gen {
    width: 280px;
    height: 240px;
    padding-bottom: 25px;
}

.meme-gen-create {
    width: 320px;
    height: auto;
}

.generador-create {
    margin-top: 15px;
}

/************ PROFILE/SHOW ************/

.avatar-menu {
    padding-bottom: 20px;
}

.menu-follows a {
    color: black;
}

.menu-follows a.btn {
    color: white;
}

.menu-profile-options .active a {
    font-size: 110%;
    font-weight: 900;
    /*border-left: 2px solid #337ab7*/
}

.menu-follows a:hover {
    color: #337ab7;
}

.menu-follows a.btn:hover {
    color: white;
}

.h2-follows {
    text-align: center;
    padding-bottom: 20px;
}

.hovereffect + .menu-profile-info {
    margin-top: 250px;
}

.nohovereffect + .menu-profile-info {
    margin-top: 20px;
}

.menu-profile-info {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.hovereffect, .nohovereffect {
    margin-left: 7%;
}

.menu-profile-info ul {
    margin-left: -10px;
}

.menu-profile-options ul {
    list-style: none;
    margin-left: -55px;
}

.menu-profile-options {
    text-align: center;
}

.menu-profile-options li {
    padding: 15px;
}

.menu-profile-options li:nth-child(n+2) {
    border-top: 1px solid #555555;
}

.btn-hide {
    display: none;
}

/************ DROPDOWN ************/

.caret {
    color: black;
}

.dropdown, .dropdown-toggle {
    height: 50px;
}

.dropdown:hover .caret {
    color: white;
}

.dropdown-menu {
	min-width: 120px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

/************ NAVBAR ************/

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-toggle {
    display: none !important;
}

.little { /* clase para la imagen en el menu pequeña */
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.little-message {
    width: 30px;
    height: 30px;
}

.blanco, .blanco a {/* Color para el login y registrarse */
    color: white !important;
    text-shadow: 1px 1px 4px black;
}

.navbar-brand {
    color: white !important;
    padding: 12px 15px !important;
}

.navbar-form {
    width: auto;
}

.navbar-form {
    margin: 0;
    display: flex;
    padding-top: 8px;
    justify-content: flex-end;
}

.navbar-right {
    display: block;
}

.navbar-right > li:first-child {
    overflow: hidden;
}

.form-control, .lupa {
    display: block !important;
}

.logo {/* Clase para el logo en el menu */
    width: 100px;
    height: auto;
}

.navbar-inverse .navbar-left > li:hover {
    background-color: #555555;
}

.navbar-inverse .navbar-left li.active a {
    background-color: #555555 !important;
}

.categorias-sub .dropdown-menu li.active a {
    background-color: #555555 !important;
}

.navbar-inverse .navbar-left > li > a {
    color: white !important;
}

.navbar-right > li:first-child {
    height: 50px !important;
}

.navbar-right > li:last-child {
    display: inline-block;
    line-height: 50px !important;
}

.lupa {
    margin-bottom: 20px !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/************ IMAGEN MENU USER SETTINGS ************/


.avatar { /* menu del usuario para el file input */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.boton-cambiar { /* boton cambiar avatar del menu */
    position: absolute;
    margin-left: 20%;
}

.imagen { /* imagen del menu */
    margin-left: 10px;
}

/************ POST ************/

.post-author {
    color: #00b22d;
}

.list-view { /* Cuando estamos en la lista de posts */
    margin-left: 100px;
}

.item {
    padding-bottom: 20px;
}

.responsive-image {
    border: 1px solid rgba(0,0,0,.1);
}

.item h5 {
    margin-bottom: -10px !important;
}

.list-view .item {
    width: 455px;
}

.post-view { /* Cuando estamos en un post */
    margin-left: 40px;
}

.post-view .item {
    width: 655px;
}

.btn-link { /* Boton DELETE para los usuarios */
    color: #999 !important;
}

.btn-link:hover {
    color: #6E6E6E !important;
}

p.item-p { /* Información resumen del post */
    color: #999;
    margin: 10px 0;
}

p.item-p a {
    color: #999;
}

div.item article.item {
    border-bottom: 1px solid #D0D0D0;
}

div.item:last-of-type article.item {
    border-bottom: 0px;
}

.item-imagen {
    width: 100%;
}

.item-imagen .gifplayer-wrapper {
    width: 455px;
    margin-left: 20%;
}

/************ BUSQUEDA ************/

.busqueda {
    margin-left: 120px;
}

.busqueda h5 {
    word-wrap: break-word;
}

/************ UPLOAD POST ************/

.post-create {
    text-align: center;
}

.button-upload {
    border-radius: 100px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
    font-size: 1.45em;
    transition: all 0.3s ease 0s;
    background: #999;
}

.btn-upload-post {
    padding: 10px 40px;
    margin-top: 20px;
}

.button-upload:hover, .button-upload:active, .button-upload:focus {
    background: #76B3FA;
    color: #FFF;
}

.botones-upload {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.post-form-spinner {
    font-size: 40px;
    line-height: 400px;
}

#modal-upload .close {
    color: white;
    font-size: 28px;
}

#modal-upload .modal-body {
    min-height: 400px;
}

#modal-upload .modal-header {
    background-color: #333;
    color: white;
    border-radius: 3px 3px 0px 0px;
}

.botones-upload .button-upload {
    margin-top: 15px;
}
/************ AUTOCOMPLETE ************/

.ui-autocomplete {
    z-index: 2000 !important;
}

.dropdown-menu-search {
    right: -80px !important;
    left: auto !important;
}

/************ CAMPANA BELL NOTIFICACIONES ************/

.glyphicon.glyphicon-bell {
    font-size: 16px;
    margin-right: -8px;
}

/************ BOTON UPLOAD POST ************/

.boton-upload {
    color: #fff !important;
    display: inline !important;
    line-height: 0px !important;
    height: 30px;
    padding: 10px 16px !important;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    background-color: #09f !important;
}

/************ MODERACION POST ************/

.categoria-moderar {
    font-size: 14px !important;
}

/************ OPCION MAS CATEGORIAS ************/

.dropdown-menu.columns-3 {
	min-width: 450px;
}

.multi-column-dropdown {
    list-style: none;
      margin: 0px;
      padding: 0px;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: white;
	white-space: normal;
}

.multi-column {
    background-color: #080808 !important;
}

.multi-column li.col-sm-4 {
    padding: 0px;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: white;
	background-color: #555555;
}

/************ VOTAR POSTS ************/

.btn-vote li {
    margin: 0 10px 0 0;
    list-style: none;
}

.btn-vote a {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 45px;
    height: 40px;
    display: block;
    position: relative;
    text-decoration: none;
    color: #999999;
}

.btn-vote span {
    margin-left: 9px !important;
    margin-top: 7px !important;
}

.btn-vote li:last-child a span {
    margin-left: 7px !important;
    margin-top: 5px !important;
}

.btn-vote a:hover, .btn-vote a:focus, .btn-vote a:active, .btn-vote a:visited {
    color: #999;
}

.btn-vote a:hover {
    border: 1px solid black;
}

.voted-up {
    color: #2B9D63 !important;
}
.voted-down {
    color: #CD2E2E !important;
}

.item-votes { /* Contenedor de la lista con clase 'left'*/
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left { /* Contenedor de los botones para votar */
    display: flex;
    flex-flow: row;
    padding: 0px;
}

/************ COMENTARIOS ************/

#commentmodel-content {
    resize: none;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    box-shadow: none !important;
}

#commentmodel-content:focus {
    outline: none !important;
    border-color: #FFFFFF !important;
    box-shadow: none !important;
}

.comments-list, .comment-form-container {
    width: 65% !important;
}

.comment-content {
    box-shadow: none !important;
    border-top: 0px solid white !important;
    word-break: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comments-list .comment {
    margin: 0 !important;
}

.comment-box {
    border: 1px solid #ccc !important;
}

.comment-box-partial {
    border-top: 1px solid #ccc !important;
}

.comment-box > .form-group {
    margin: 0 !important;
}

.comment-box-partial .show {
    display: flex !important;
    flex-flow: row !important;
    justify-content: flex-end !important;

    padding: 5px 10px;
}

.comment-box .comment-box-partial .comment-submit {
    margin: 0 !important;
}

.comments .comment-content {
    padding: 15px 0px !important;
}

.show .pull-right {
    margin-right: 20px !important;
}

.col-md-12 .comments-list .children .comment:before {
    content: "" !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    background-color: #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
}

.col-md-12  .comments-list .children .comment:after {
    content: "" !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    background-color: #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
}

.comments-list .children {
    margin: 0 !important;
    padding-left: 20px !important;
    margin-top: -10px !important;
    border-left: 0px solid white !important;
}

.comments-list .children .comment-author-avatar img{
    width: 30px;
    height: 30px;
}

.comments .comment-details {
    padding: 0 !important;
}

.children .comment-author-avatar {
    width: 40px !important;
}

.btn-vote-comment span {
    margin-left: 9px !important;
}

.btn-vote-comment .author-comment {
    color: black !important;
}

.author-comment:hover {
    text-decoration: underline !important;
}

.btn-vote-comment li a {
    text-decoration: none;
    color: #999999;
}

.comment-date, .comment-votos-total {
    margin-left: 8px;
    font-size: 14px;
    font-style: normal !important;
    color: #979797;
    font-weight: normal;
}

.btn-vote-comment li a:hover, .btn-vote-comment li a:focus, .btn-vote-comment li a:active,
 .btn-vote-comment li a:visited {
    color: #999;
}

/************ GIF ************/

ins.play-gif{
	position: absolute;
	font-family: Arial, sans serif;
	width: 60px;
	height: 60px;
	line-height: 55px;
	text-align: center;
	background: #222;
	font-size: 18px;
	color: #fff;
	border-radius: 50%;
	opacity: .9;
	border: 4px solid #fff;
	cursor:pointer;
	text-decoration: none;
}

.gifplayer-wrapper{
	position:relative;
	display: inline-block;
}

/************ MODAL ************/
#messages .modal-body {
    height: 500px;
    max-height: 900px;
    /*overflow-y: auto;*/
    overflow: hidden;
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
}

#messages .modal-dialog {
    width: 820px;
    margin: auto;
}

#messages .messages, #messages .send-button {
    background-color: #E7E7E7;
}

#textarea-message {
    border: 1px solid #FFF;
}

/************ NOTIFICACIONES ************/

.dropdown-container {
    right: auto !important;
    left: -230px !important;
}

.dropdown-notifications {
    width: 50px;
}

.notification-icon.show-icon:after {
    visibility: visible;
}

.notification-icon.hidden-icon:after {
    visibility: hidden;
}

.media-object {
    display:inline-block;
    font-size: 14px;
    line-height: 30px;
    background-color:black;
    border-radius: 20px 20px 20px 20px;
    color:white;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: bottom;
}

.media-left {
    padding-right: 0;
}

/************ CHAT ************/

/* Header Wrapper */
.header-wrap {
    height: 10%;
}
/* Content Wrapper */
.content-wrap {
    height: 100%;
    overflow: auto;
}

.conversaciones {
    border-right: 1px solid #999;
}

.template-oculto {
    display: none;
}

/* Panel Wrapper: Side Menu - Content Window */
.panel-wrap {
    height: 100%;
    padding: 0;
    border-right: 0.4px solid #999;
}

/* Messages Wrapper */
.content-wrap.messages {
    height: 85%;
    border-bottom: 1px solid #999;
}


#messages {
    margin-top: 20px;
}

#messages .modal-body .row {
    margin-left: 0;
    margin-right: 0;
}

.msg-emisor .msg-body {
    background-color: #C3E0F8;
    border-radius: 10px 2px 2px 10px;
}

#messages .modal-header {
    background-color: #428bca;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

.msg-receptor .msg-body {
    background-color: #DBDBDB;
    border-radius: 2px 10px 10px 2px;
}

.msg-body {
    word-wrap: break-word;
    padding: 4px 10px 4px 10px;
    max-width: 80%;
    display: flex;
}

.msg-avatar-receptor {
    padding-right: 8px;
}

.msg-avatar-emisor {
    padding-left: 8px;
}

.msg-body p {
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
    max-width: 100%;
}

.msg-resto {
    max-width: 90%;
}

a.btn-disabled {
    pointer-events: none;
    color: rgba(51, 122, 183, 0.6);
}


.msg-emisor {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.msg-receptor {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.fa-minus {
    font-size: 8px !important;
    width: 2em !important;
}

/* Message Item */
.msg {
    width: auto;
    padding: 12px 12px 5px;
}
/* Message Sender */
.message-wrap .media-heading {
    color: #2285b3;
    font-weight: 700;
}
/* Message Time */
.time {
    color:#bfbfbf;
}

.contact-username {
    text-align: center;
}

/* Header Item */
.chat-header {
    height: 100%;
    width: 100%;

    background: #D8DBD6;
    box-shadow: 0 1px 1px;

    display: table;
}
/* Header Title */
.chat-header h4 {
    display: table-cell;
    vertical-align: middle;

    width: 90%;
}

/* Conversation Item */
.conversation {
    text-align: left;
    padding: 8px 10px 5px;
    border-bottom: 1px solid #ddd;
    width: 100%;

    transition: background-color 0.5s ease;
    transition: border-right 0.2s ease;
}

/* Conversation Properties */
.conversation:hover {
    background-color: whitesmoke;
}

.conversation .media-body h5 {
    padding-left: 40px;
}

/* Contact Item */
.contact {
    padding: 21px 10px 12px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: inline-block;

    transition: background-color 0.5s ease;
}
/* Contact Properties */
.contact.btn:hover {
    background-color: whitesmoke;
}

/* Send Message Item */
.send-message {
    width: 100%;
    height: 100%;

    display: table;
}
/* Message Text */
.message-text {
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
/* Send Button */
.send-button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    width: 10%;
}
/* Send Message Properties */
.no-resize-bar {
    resize: none;
    height: 100% !important;
}
.send-button a {
    padding: 10px;
}

.conversation-active {
    border-right: 5px solid #C0C7CD;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.send-message .btn {
    transition: all 0.3s ease;
}

.send-message .btn:hover {
    transition: all 0.5s ease;
    color: #fff;
    background-color: #0451b7;
}

.sub-menu {
    display: none !important;
    font-size: 16px;
}

.sub-menu-noupload {
    display: block !important;
}

.sub-menu-upload {
    height: 50px;
    line-height: 55px;
    margin-right: 5px;
}



@media screen and (max-width: 1200px) {
    .top-ten-list {
        display: none;
    }
    /************ AVATAR PROFILE/SHOW ************/

    .hovereffect, .nohovereffect {
        margin-left: -5%;
    }

    .comments-list, .comment-form-container {
        width: 75% !important;
    }
}

@media screen and (max-width: 991px) {
    .botones-upload {
        width: 70%;
    }

    .content-wrap.messages {
        height: 80%;
    }

    /************ MODAL ************/
    #messages .modal-body {
        height: 400px;
        max-height: 900px;
        /*overflow-y: auto;*/
        overflow: hidden;
        padding: 0px;
        border-radius: 5px 5px 5px 5px;
    }

    #messages .modal-dialog {
        width: 620px;
        margin: auto;
    }
    /************ MENU USER SETTINGS  ************/

    .avatar-menu {
        margin: 0 auto;
        margin-bottom: 60px;
        width: 50%;
    }

    .boton-cambiar {
        margin-left:7%;
    }

    /************ COMENTARIOS  ************/

    .comments-list, .comment-form-container {
        width: 100% !important;
        min-width: 320px !important;
    }

    /************ AVATAR PROFILE/SHOW ************/

    .hovereffect, .nohovereffect {
        margin-left: 33%;
    }

    /************ MENU ************/

    .nav > li > a {
        padding-left: 10px;
        padding-right:10px
    }
}

@media screen and (max-width: 768px) {
    .botones-upload {
        width: 80%;
    }

    html, body {
        width: auto !important;
        overflow-x: hidden !important;
    }
    .boton-upload {
        display: inline-block !important;
        margin-left: 0;
        padding: 10px 12px !important;
    }

    /************ MODAL ************/
    #messages .modal-body {
        height: 320px;
        max-height: 900px;
        /*overflow-y: auto;*/
        overflow: hidden;
        padding: 0px;
        border-radius: 5px 5px 5px 5px;
    }

    #messages .modal-dialog {
        width: 550px;
        margin: auto;
    }
    /************ AVATAR PROFILE/SHOW ************/

    .hovereffect, .nohovereffect {
        margin-left: 32.5%;
    }

    /************ BUSQUEDA ************/

    .busqueda {
        margin-left: 70px;
    }

    /************ MENU ************/

    /*.menu-grande {
        display: none;
    }*/

    .categorias-sub {
        float:left;
        margin-left: 25px;
        height: 35px !important;
        overflow-y: visible;
    }

    .categorias-sub button {
        height: 40px;
        margin-top: 5px;
        background-color: transparent;
        border: 1px solid transparent;
        border-color: #333;
        border-radius: 4px;
        line-height: 33px;
    }

    .dropdown.open.categorias-sub .dropdown-toggle {
        background-color: transparent;
        border-color: #333;
    }

    .categorias-sub .fa-bars {
        font-size: 20px;
    }

    .categorias-sub button:focus, .categorias-sub button:active:hover,
    .categorias-sub button:active:focus, .categorias-sub button:hover {
        background-color: #333;
        border-color: #333;
        outline: none;
    }

    .categorias-sub.open > .dropdown-toggle.btn-primary {
        background-color: #333;
        border-color: #333;
    }

    .categorias-sub .dropdown-menu {
        background-color: black;
        top: 120%;
    }
    .categorias-sub .dropdown-menu li a  {
        color: white;
    }
    .categorias-sub .dropdown-menu li a:hover  {
        background-color: #555555;
    }

    .sub-menu {
        display: block !important;
        height: 50px;
    }

    .dropdown-search, .dropdown-notifications {
        width: 30px !important;
        font-size: 14px !important;
    }

    .dropdown-search {
        width: 50px;
    }

    .dropdown-menu-search .navbar-form {
        background-color: #fff !important;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        width: 200px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .dropdown-search a {
        float: right;
    }

    .sub-menu-noupload {
        display: none !important;
    }

    .navbar-header {
        float: left;
    }

    .navbar-left li {
        height: 50px;
    }

    .navbar-left li a  {
        padding-top: 15px;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
    }
    .navbar-nav {
        margin: 0;
    }

    .dropdown-notifications + li {
        display: none;
    }

    .dropdown-container {
        right: auto !important;
        left: -140px !important;
        width: 340px !important;
    }

    .navbar-left {
        display: none;
    }

    .categorias-sub {
        display: block !important;
        float: left;
    }

    .nav > li.dropdown-notifications > a {
        text-align: center;
    }

    .nav > li.dropdown-notifications > a > span {
        margin-left: -8px;
    }

    /************ PROFILE/SHOW ************/

    .menu-profile-info ul {
        width: 100% !important;
    }

    /************ POSTS ************/

    .list-view {
        margin-left: 70px;
    }

    .item-imagen .gifplayer-wrapper {
        margin-left: 15%;
    }

    .post-view .item {
        width: auto;
    }

    /************ OPCION MAS CATEGORIAS ************/

    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }

    #btn-arriba {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    /************ BUSQUEDA ************/

    .busqueda {
        margin-left: 0;
    }
    .dropdown-search a {
        padding-left: 6px !important;
    }
    /************ MODAL ************/

    .conversation .media-heading, .conversation small {
        display: none;
    }

    #messages .modal-body {
        height: 400px;
        max-height: 900px;
        /*overflow-y: auto;*/
        overflow: hidden;
        padding: 0px;
        border-radius: 5px 5px 5px 5px;
    }

    #messages .modal-dialog {
        width: 450px;
        margin: auto;
    }

    .botones-upload {
        width: 90%;
    }

    .comment-votos-total, .comment-date {
        display: none;
    }

    .dropdown-container {
        right: auto !important;
        left: -140px !important;
        width: 340px !important;
    }
    /************ AVATAR PROFILE/SHOW ************/

    .hovereffect, .nohovereffect {
        margin-left: 25.5%;
    }

    /************ POSTS ************/

    .list-view {
        margin: 0;
    }

    .wrap > .container {
        padding: 100px 0px 0px !important;
    }

    .container > .container {
        padding-left: 0;
        padding-right: 0;
    }

    .item-imagen .gifplayer-wrapper {
        margin-left: 0;
        width: auto;
    }

}

@media screen and (max-width: 455px) {
    .main-list {
        margin-top: 10px;
    }

    .categorias-sub {
        margin-left: 25px;
    }

    /************ MODAL ************/
    #messages .modal-body {
        height: 370px;
        max-height: 900px;
        /*overflow-y: auto;*/
        overflow: hidden;
        padding: 0px;
        border-radius: 5px 5px 5px 5px;
    }

    #messages .modal-dialog {
        width: 400px;
        margin: auto;
    }

    .list-view .item {
        width: auto;
    }

    .generador-create {
        margin-top: 30px;
    }

    .responsive-image, video {
      height: auto;
      width: 100%;
    }

    .post-view {
        margin-left: 0;
    }

    .post-view .item {
        width: auto;
    }

    .item-imagen {
        width: auto;
    }

    .comment-action-buttons .texto-button {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .subiendo {
        display: none;
    }

    .categorias-sub {
        margin-left: 0;
    }

    .navbar-header {
        text-align: center;
        float: none;
        margin-left: 30% !important;
    }

    .container .navbar-collapse {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    /************ MODAL ************/
    #messages .modal-body {
        height: 400px;
        max-height: 900px;
        /*overflow-y: auto;*/
        overflow: hidden;
        padding: 0px;
        border-radius: 5px 5px 5px 5px;
    }

    #messages .modal-dialog {
        width: 320px;
        margin: auto;
    }

    .hovereffect, .nohovereffect {
        margin-left: 14.5%;
        margin-top: 10px;
    }

    .dropdown-container {
        right: auto !important;
        left: -100px !important;
        width: 300px !important;
    }

    .dropdown-menu-search .navbar-form {
        width: 160px;
    }

    .collapse .navbar-nav.navbar-right:last-child {
        margin-right: -6px !important;
    }
}
