.hovereffect {
  width: 235px;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  /*position: relative;*/
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

/*.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}*/

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 100px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.little {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.fondoNav {
    /*background-color: #EE9555;*/
    background-color: #4358E4;
}
.lower {
    top: 50px;
    min-height: 0px !important;
    max-height: 28px !important;
}

.lower li a {
    padding-top: 4px;
}

.lower .active > a{
    background-color: transparent !important;
    text-shadow: 1px 1px 1px #4358E4 !important;
}

.blanco, .blanco a {
    color: white !important;
    text-shadow: 1px 1px 4px black;
}

.blancoBrand {
    color: white !important;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.avatar {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.boton-cambiar {
    position: absolute;
    margin-left: 20%;
}

.imagen {
    margin-left: 10px;
}

.caret {
    color: black;
}

.dropdown, .dropdown-toggle {
    height: 50px;
}

.dropdown:hover .caret {
    color: white;
}

.entrada-create {
    /*background-color: #EBAC6B;*/
    background-color: #5FC8E4;
    padding: 20px;
    box-shadow: 0px 0px 10px blue;
}

.item {
    padding-bottom: 20px;
}

.botones {
    margin-left: 20px;
    display: inline-block;
}

.title > a {
    color: black;
}

.entrada > p:first-of-type {
    font-size: 15px;
}

.entrada span {
    font-weight: bold;
    color: #3133BA;
}

.entrada > a:nth-child(n+6)::before {
    content: ", ";
}

.entrada > a:last-child::after {
    content: "";
}


.ui-autocomplete {
    z-index: 2000 !important;
}

.articulo {
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
}

.articulo > * {
    margin: 5px;
}

.glyphicon.glyphicon-bell {
    font-size: 16px;
    margin-right: -8px;
}

.dropdown-menu-left {
    right: auto !important;
    left: -20px !important;
}

h2 {
    display: block;
    font-size: 22px !important;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 a {
    color: black;
}

h2 a:hover {
    color: #09f;
}

a {
    text-decoration: none !important;
}

.boton-upload {
    color: #fff !important;
    display: inline !important;
    line-height: 0px !important;
    height: 30px;
    padding: 10px 16px !important;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    background-color: #09f !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-right {
    height: 20px !important;
    line-height: 50px !important;
    display: inline-block !important;
}

.list-view {
    margin-left: 120px;
}

.post-view {
    margin-left: 40px;
}

.list-view .item {
    width: 455px;
}

.post-view .item {
    width: 655px;
}

* {
    font-family: 'Poppins', sans-serif;
}

.item h2 a {
    /*font-family: 'Poppins', sans-serif;*/
    font-weight: bold;
}

.categoria-moderar {
    font-size: 14px !important;
}

.btn-link {
    color: #999 !important;
}

.btn-link:hover {
    color: #6E6E6E !important;
}

.dropdown-menu {
	min-width: 120px;
}

.dropdown-menu.columns-3 {
	min-width: 450px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

.multi-column-dropdown {
    list-style: none;
      margin: 0px;
      padding: 0px;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: white;
	white-space: normal;
}

.multi-column {
    background-color: #080808 !important;
}

.multi-column .row .col-sm-4 {
    padding: 0px;
}

.multi-column .row .col-sm-4:first-child {
    padding-left: 15px;
}

.multi-column .row .col-sm-4:last-child {
    padding-right: 15px;
}



.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: white;
	background-color: #555555;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.lupa {
    margin-bottom: 20px !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.btn-vote li {
    margin: 0 10px 0 0;
    list-style: none;
}

.btn-vote a {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 45px;
    height: 40px;
    display: block;
    position: relative;
    text-decoration: none;
    color: #999999;
}

p.item-p {
    color: #999;
    margin: 10px 0;
}

p.item-p a {
    color: #999;
}

.voted-up {
    color: #2B9D63 !important;
}
.voted-down {
    color: #CD2E2E !important;
}

.navbar-brand {
    padding: 12px 15px !important;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar-inverse .navbar-left > li:hover {
    background-color: #555555;
}

.navbar-inverse .navbar-left > li > a {
    color: white !important;
}

.btn-vote i {
    margin-left: 9px !important;
    margin-top: 7px !important;
}

.btn-vote li:last-child a i {
    margin-left: 7px !important;
    margin-top: 5px !important;
}

.btn-vote a:hover, .btn-vote a:focus, .btn-vote a:active, .btn-vote a:visited {
    color: #999;
}

.btn-vote a:hover {
    border: 1px solid black;
}

.left {
    display: flex;
    flex-flow: row;
    padding: 0px;
}

.item-votes {
    margin-top: 10px;
}

#commentmodel-content {
    resize: none;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    box-shadow: none !important;
}

#commentmodel-content:focus {
    outline: none !important;
    border-color: #FFFFFF !important;
    box-shadow: none !important;
}

.comments-list, .comment-form-container {
    width: 60% !important;
}

.comment-content {
    box-shadow: none !important;
    border-top: 0px solid white !important;
    word-break: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comments-list .comment {
    margin: 0 !important;
}

.comment-box {
    border: 1px solid #ccc !important;
}

.comment-box-partial {
    border-top: 1px solid #ccc !important;
}

.comment-box > .form-group {
    margin: 0 !important;
}

.comment-box-partial .show {
    display: flex !important;
    flex-flow: row !important;
    justify-content: flex-end !important;

    padding: 5px 10px;
}

.comment-box .comment-box-partial .comment-submit {
    margin: 0 !important;
}

.comments .comment-content {
    padding: 15px 0px !important;
}

.show .pull-right {
    margin-right: 20px !important;
}

.col-md-12 .comments-list .children .comment:before {
    content: "" !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    background-color: #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
}

.col-md-12  .comments-list .children .comment:after {
    content: "" !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    background-color: #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
}

div.item article.item {
    border-bottom: 1px solid #D0D0D0;
}

div.item:last-of-type article.item {
    border-bottom: 0px;
}

.comments-list .children {
    margin: 0 !important;
    padding-left: 20px !important;
    margin-top: -10px !important;
    border-left: 0px solid white !important;
}

.comments-list .children .comment-author-avatar img{
    width: 30px;
    height: 30px;
}

.comments .comment-details {
    padding: 0 !important;
}

.children .comment-author-avatar {
    width: 40px !important;
}

.item-imagen {
    width: 50%;
}

.item-imagen img, .item-imagen video {
    margin-left: 33%;
}

.btn-vote-comment i {
    margin-left: 9px !important;
}

.btn-vote-comment .author-comment {
    color: black !important;
}

.author-comment:hover {
    text-decoration: underline !important;
}


.btn-vote-comment li a {
    text-decoration: none;
    color: #999999;
}

.comment-date, .comment-votos-total {
    margin-left: 8px;
    font-size: 14px;
    font-style: normal !important;
    color: #979797;
    font-weight: normal;
}

.btn-vote-comment li a:hover, .btn-vote-comment li a:focus, .btn-vote-comment li a:active,
 .btn-vote-comment li a:visited {
    color: #999;
}

#search {
    width: 85%;
}

.hovereffect + .menu-profile-info {
    margin-top: 250px;
}

.menu-profile-info {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.hovereffect, .nohovereffect {
    margin-left: 7%;
}

.menu-profile-info ul {
    width: 110% !important;
    margin-left: -10px;
}

.menu-profile-options ul {
    list-style: none;
    margin-left: -55px;
}

.menu-profile-options {
    text-align: center;
}

.menu-profile-options li {
    padding: 15px;
}

.menu-profile-options li:nth-child(n+2) {
    border-top: 1px solid #555555;
}

ins.play-gif{
	position: absolute;
	font-family: Arial, sans serif;
	width: 60px;
	height: 60px;
	line-height: 55px;
	text-align: center;
	background: #222;
	font-size: 18px;
	color: #fff;
	border-radius: 50%;
	opacity: .9;
	border: 4px solid #fff;
	cursor:pointer;
	text-decoration: none;
}

.gifplayer-wrapper{
	position:relative;
	display: inline-block;
}

.item h5 {
    margin-bottom: -10px !important;
}

@media screen and (max-width: 1200px) {

    .hovereffect, .nohovereffect {
        margin-left: -5%;
    }
}

@media screen and (max-width: 991px) {
    .avatar-menu {
        margin: 0 auto;
        margin-bottom: 60px;
        width: 50%;
    }

    .comments-list, .comment-form-container {
        width: 100% !important;
        min-width: 550px !important;
    }

    .boton-cambiar {
        margin-left:7%;
    }

    .hovereffect, .nohovereffect {
        margin-left: -12%;
    }
}

@media screen and (max-width: 767px) {
    .hovereffect, .nohovereffect {
        margin-left: 32.5%;
    }

    .menu-profile-info ul {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    .hovereffect, .nohovereffect {
        margin-left: 25.5%;
    }

    .list-view {
        margin: 0;
    }
}
